body {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 50px 0px;
}

#header {
    background-image: url(../images/Rectangle\ 12.png);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 100px;
}

.header {
    margin-top: 100px;
}

.manu {
    margin-top: 100px;
}

.manu ul {
    margin: 0;
    padding: 0;
}

.manu ul li {
    margin: 10px 0px;
    padding: 5px 10px;
    list-style: none;
}

.manu ul li a {
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.manu ul li a:hover {
    color: #899498;
}

.manu ul i {
    margin-right: 20px;
}

.explore {
    height: 1200px;
    background-image: url(../images/andreas-gucklhorn-mawU2PoJWfU-unsplash.png);
    background-position-y: -30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.explore-text {
    color: white;
    position: absolute;
    right: 100px;
    bottom: 200px;
}

h1 {
    font-weight: 900;
    text-shadow: 0px 3px 6px #00000029;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
}

h2 {
    color: #0d0d0d;
    font-weight: 700;
}

.slider-box {
    background-image: url(../images/tatonomusic-60-LviCN4F4-unsplash.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400;
    position: relative;
}

.slider-text {
    color: #0d0d0d;
    background: white;
    padding:10px 20px ;
    border-radius: 0px 30px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 9px;
}