body {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 50px 0px;
}

#header {
    background-image: url(../images/Rectangle\ 12.png);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 100px;
}

.header {
    margin-top: 100px;
}

.manu {
    margin-top: 100px;
}

.manu ul {
    margin: 0;
    padding: 0;
}

.manu ul li {
    margin: 10px 0px;
    padding: 5px 10px;
    list-style: none;
}

.manu ul li a {
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.manu ul li a:hover {
    color: #899498;
}

.manu ul i {
    margin-right: 20px;
}

.explore {
    height: 1200px;
    background-image: url(../images/andreas-gucklhorn-mawU2PoJWfU-unsplash.png);
    background-position-y: -30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.explore-text {
    color: white;
    position: absolute;
    right: 100px;
    bottom: 200px;
}

h1 {
    font-weight: 900;
    text-shadow: 0px 3px 6px #00000029;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
}

h2 {
    color: #0d0d0d;
    font-weight: 700;
}

/* Slider*/
* {
    box-sizing: border-box;
}

.m-slider {
    width: 70%;
    margin-left: 15%;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    padding: 2px 16px;
    color: #0d0d0d;
    font-weight: 700;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .gallery {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    float: left;
    display: block;
  }